page-partner-success {
    .bg-img{
        background-image: url('../../assets/imgs/background.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
