// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.remove-ok {
    .alert-button:nth-child(2) {
        display: none;
    }
}
.remove-header {
    .alert-head {
        display: none;
    }
}
.alert-md .alert-wrapper {
    max-width: 300px;
}
.alertCss{
    .sent-css{
        text-align: center;
        right: 20px;
        bottom: 10px;
    }
    .sent-css .button-inner{
        padding: 10px;
        padding-right: 20px;
        background-color: darkcyan;
        border: 1px #000 solid;
        color: #fff;
        font-weight: bold;
        width: 60px;
    }
}